.container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 100vw;
    height: 100vw;

}


.form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 1rem;
}
.input{
    margin-left: 20px;
    margin-bottom: 10px;
    border: 2px  ;
    border-radius: 5px;  
    
}

.div1{
    width: 30%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #d0d0da;
 

}

.div2{
    width: 300px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 70%;
    

}

.h1{
    color: #000000;
    margin-top: 10%;
    text-align: center;   
}

.p{
    margin-bottom: 5%;
    text-align: center;
    font-size: 15px;
}


.placeholder {
    color: #9A9AA2;
    
}

.submit{
    background-color: #6174EE;
    color: #FBFBFF;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: '700';

}

/* @media screen and(min-width: 768px){
    .container {
        margin-left: auto;
        margin-right: auto;
    
    }

}

@media screen and(min-width: 767px){
    .container {
        margin-left: auto;
        margin-right: auto;
    
    }
    
}

@media screen and(min-width: 480px){
    .container {
        margin-left: auto;
        margin-right: auto;
    
    }
    
} */